torch
openai-whisper
websockets
soundfile
numpy
whisper
torch
transformers
datasets
jiwer
librosa
accelerate
torchaudio
datasets[audio]
accelerate
evaluate
jiwer
tensorboard
gradio
faster-whisper
mediapipe
opencv-python
#dlib
#face-recognition
numpy
imutils
ffmpeg-python
scipy
groq
dotenv
mediapipe
opencv-python